#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outputDisplay {
    grid-area: outputDisplay;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    text-align: center;
    font-size: 70px;
    margin: 15%;
}
#plus {
grid-area: plus;
}

#minus {
    grid-area: minus;

}

#newNum {
    grid-area: newNum;
}
button {
    width: 90px;
    height: 90px;
    background-color: #a6a6a6;
    font-size: 40px;
    color: ivory;
    border-radius: 10px;

}

input {
    height: 90px;
    width: 180px;
    border: 5px solid #a6a6a6;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;

}

